[2020-10-29 17:04] #256 closed

[2020-10-29 17:05] lemire commented on #5
This issue is still outstanding. Instead of using a pointer to a container, we should be using a union type.  The current design works, but it is unnecessarily inefficient.

[2020-10-29 17:08] lemire commented on #122
@AE1020  We might want to close this issue off since it seems you have contributed some fuzz testing.

[2020-11-02 20:38] AE1020 commented on #5
Although it is a known technique [used by projects like V8](https://v8.dev/blog/pointer-compression), the very fact that it *is* commonly exploited means that chances are not small that it will be used by some layer of a system.

This means that weirder compilers and transpilers will leverage it in their C implementation itself...or be built on a runtime stack that uses it somewhere.

So I'd be wa

[2020-11-03 22:54] AE1020 commented on #174
Article covering some issues and what various codebases do:

https://eli.thegreenplace.net/2009/10/30/handling-out-of-memory-conditions-in-c

**Backwards-Compatible Improvement Proposal:** add new names for APIs that return error results, but have static inline wrappers for the old names that delegate to a macro for an error function.  If the error macro isn't defined, define it to some provided A

[2020-11-03 23:09] lemire commented on #174
@AE1020 Your proposal is not bad at all.

It is not always so simple to know where a memory allocation might occur. There are branches. You might follow a branch, do some allocation, then follow another branch and do more allocation.

Though atomicity is always a great thing to have, I do not think it is needed at the operation level. There are robust, distributed bitmap-based systems relying on R

[2020-11-04 05:42] AE1020 commented on #174
If the core inplace operations return boolean (e.g. **bool roaring_bitmap_xor_inplace_completed(...)**) would it be better to say:

1. The input is in an undefined-but-usable/freeable state, which will give some random answer based on however far the partial operation got.
2. The input is cleared and immediately usable as an empty set
3. The input containers are freed and the bitmap bits turned in

[2020-12-07 13:26] lemire opened #272 "Angle brackets vs double-quotes"
User @thus modified our [includes from double-quote includes to bracketed includes](https://github.com/RoaringBitmap/CRoaring/commit/673946ff9390b166e083005abbc23d4fb50f5148). His rationale was as follow:

"roaring/roaring.h" without specifying the include path

Someone else express to me his concerns:

Personally, I favour double-quote includes whenever possible but I'd like to better understand

[2020-12-07 13:28] lemire commented on #234
Submitter should resubmit an issue with clarification.

Closing.

[2020-12-07 13:28] #234 closed

[2020-12-07 13:32] lemire commented on #272
Duplicate,

[2020-12-07 13:32] #272 closed

[2020-12-07 13:32] lemire commented on #231
User @thus modified our [includes from double-quote includes to bracketed includes](https://github.com/RoaringBitmap/CRoaring/commit/673946ff9390b166e083005abbc23d4fb50f5148). His rationale was as follow:

"roaring/roaring.h" without specifying the include path

Someone else express to me his concerns:

Personally, I favour double-quote includes whenever possible but I'd like to better understand

[2020-12-07 13:56] madscientist commented on #231
I also would like to understand what circumstances would cause the incorrect headers to be found, and using which compiler.  The standard doesn't really well define the difference between "" and <> in #include.  However most compilers I'm aware of split header files into three "parts": searching the local directory, searching directories provided by -I, and searching predefined system header direc

[2020-12-07 18:49] lemire commented on #231
@davegomboc Can you elaborate on your issue?

[2020-12-15 10:08] davegomboc commented on #231
I think the note posted upstream already makes this clear, no?

For example, users of various Linux distributions install packages on their system, including programming headers.  So, some older version may be installed on a system (either manually installed by an installation script or via some actual package manager).  But, if then one also has a copy of the Git repo on their machine, the code i

[2020-12-15 10:20] davegomboc opened #278 "with pedantic compiler flags, GCC warns that it is possible to try to allocate more memory than malloc would allow"
Encountering an issue in static bool realloc_array(roaring_array_t *ra, int32_t new_capacity) in roaring_array.c involving:

const size_t memoryneeded = new_capacity * (
            sizeof(uint16_t) + sizeof(container_t) + sizeof(uint8_t));
void *bigalloc = malloc(memoryneeded);

Note that the passed in value for new_capacity is being provided by ra_shrink_to_fit (internal Roaring code), not exter

[2020-12-15 15:31] lemire commented on #278
You have enabled pedantic static analysis which flags the fact that we may, in the course of the program, allocate more memory than malloc would allow.

This is not an error. It is a warning enabled by the fact that you are using pedantic static analysis.

@AE1020 have a look.

[2020-12-15 17:09] madscientist commented on #231
What we're trying to understand is whether the note is actually correct, and if so how that manifests in an actual example.  I don't think that note is correct, or at least it's not the whole story.  I don't believe there's any way in any realistic scenario where the issue you are claiming, that old headers would be used incorrectly, would actually happen.  But maybe I'm missing something: that's

[2020-12-15 17:34] madscientist commented on #231
Of course it doesn't have to be a subdirectory... you could have `/my/include/roaring/.` and `/my/src/foo.c`, then in `foo.c` you use a relative path like `#include "../include/roaring/roaring.h"` so you don't need to add `-I/my/include` to the compile line.  Then you'd run into a problem with <> that would be mitigated by using "" and removing the subdirectories.  The key is that the only way you

[2020-12-16 06:19] davegomboc commented on #278
The code snippet above clearly shows that if new_capacity _were_ to have a small negative value (like -1), it would be multiplied by some low positive value like 4 (the sum of the sizeof() statements) to become -4, then sign-extended to 64-bits, then converted to unsigned, then passed to malloc, thus generating the diagnostic.  My understanding of the response is "well, it may be that the compiler

[2020-12-16 06:56] davegomboc commented on #231
Maybe; maybe not, and that may not be the only place that is searched.  Differences in behaviour between different compiler preprocessors are allowed by the C and C++ standards.  GCC may use different include directive resolution rules than MSVC (https://docs.microsoft.com/en-us/cpp/preprocessor/hash-include-directive-c-cpp?view=msvc-160), and some embedded system compiler may use different rules

[2020-12-16 13:48] madscientist commented on #231
You are right that the standard doesn't declare the exact behavior, but all compilers I'm aware of work that way.  Yes, it's true that MSVC also adds other directories but neither GCC nor clang do so which means we cannot rely on that behavior when writing portable code: we must assume the more strict behavior.

I have no problems with the change (but someone needs to create the PR!!): it's clear

[2020-12-16 15:38] lemire commented on #278
GCC 10 is my current default compiler. CRoaring compiles with -Wall by default (plus a few more pedantic warnings). I compile CRoaring without warnings.

Let us look at the official documentation

https://gcc.gnu.org/onlinedocs/gcc-10.2.0/gcc/Warning-Options.html#Warning-Options

[code]

[2020-12-16 15:39] lemire commented on #278
You can verify in CI that we build without warnings under GCC 10:

https://github.com/RoaringBitmap/CRoaring/actions?query=workflow%3AUbuntu-GCC10-CI

[2020-12-16 15:50] lemire commented on #231
Note that we switched from "" to <> because some users did not want to pick up the local roaring headers by mistake.

CRoaring is a software library that many developers install on their systems. Many software libraries use the <> include header convention. For example, C++ Boost does. I have defaulted to ""  myself, and it seems to be more common in the projects I am involved with, but I am far f

[2020-12-16 18:48] madscientist commented on #231
Just as I don't see how switching from <> to "" would help much in a realistic situation, I don't see how the original switch from "" to <> would help anyone "not pick up local headers by mistake".  If the user puts a `-I<dir>` on their compiler line, they _WILL_ get the right roaring headers, regardless of whether we use <> or "" inside roaring headers.

The issue isn't really which roaring.h hea

[2020-12-22 05:53] K2 opened #281 "3 issues in ASAN run"
# all in test / bench code

We may want to tidy these up for guidance to consumers & to ensure possible underlying issues are not real.

## Read SEGV in run_container_benchmark
[code]

##  Write SEGV add_benchmark

[code]

## Null pointer with zero offset used in mixed_container_unit

[code]

[2020-12-22 05:58] K2 opened #282 "CodeChecker run with current checkout"
# CodeChecker used to run a mixed suite of static analysis

Many of these are for the unit/bench tools.  However there are some interesting results but the depth of the call chain's and intended API spec's I'm not sure on so I'm posting them if people want to take a look at the results.  They were are built against a fresh checkout from today.

[reports_html.tar.gz](https://github.com/RoaringBitma

[2020-12-22 22:34] lemire commented on #282
I am going to close this because I think we need to focus on tangible issues as opposed to potential issues.

[2020-12-22 22:35] lemire commented on #282
If you do identify real problems, please open a specific issues describing the problem, or better yet, submit a pull request.

[2020-12-22 22:35] #282 closed

[2020-12-22 22:40] lemire commented on #281
I am going to close this issue because we need to focus on real as opposed to potential issues. We run our tests using sanitizers. They are green. If you believe that your sanitized tests have revealed an actual issue, please investigate and identify it. Or better: submit a pull request. Unfortunately, all software has potential bugs. It is entirely likely that we have bugs remaining. However, it

[2020-12-22 22:40] #281 closed

[2020-12-22 22:45] lemire commented on #229
This issue has been opened since June. I am going to close it. If you have features that you'd like to see, it would be best if you considered creating a pull request or, at least, describing it precisely. Your issue seems open ended.

[2020-12-22 22:45] #229 closed

[2020-12-22 22:46] lemire commented on #231
The issue has been discussed. I am going to close it. I think that if anyone wants to change the current state of affairs, they have to build a strong case.

[2020-12-22 22:46] #231 closed

[2020-12-22 22:47] lemire commented on #278
I am going to close this. Compiling without warning under very pedantic is not a goal of this library. However, pull requests are invited if folks feel strongly about such warnings.

[2020-12-22 22:47] #278 closed

[2020-12-22 22:48] lemire commented on #209
I am going to close this issue. Reporter should reopen with more details.

[2020-12-22 22:48] #209 closed

[2020-12-22 22:49] lemire commented on #197
This has been fixed.

[2020-12-22 22:49] #197 closed

[2020-12-22 22:49] lemire commented on #176
Fixed.

[2020-12-22 22:49] #176 closed

[2021-04-09 13:33] lemire opened #284 "Implement custom memory allocators"
Some users need custom memory allocation (e.g., @olan-ibm). We want to provide such a functionality to our users but without making all users pay for increase memory usage or lower performance.

CRoaring is a C library and the preferred way in C to get custom memory allocation is to either pass functions or overwrite the default malloc/free. Furthermore, CRoaring has the concept of shared containe

[2021-04-13 22:33] #243 closed

[2021-04-14 07:59] decster opened #287 "Get memory usage of roaring_bitmap_t"
For our use case, bitmaps are maintained in a cache, so we need to track the memory usage of each roaring_bitmaps, an API to get memory usage would be great.

[2021-04-14 09:06] Ezibenroc commented on #287
Have you seen [`roaring_bitmap_statistics`](https://github.com/RoaringBitmap/CRoaring/blob/cb3816f7189c690b56afe0f11a8a50ce2d617fa7/include/roaring/roaring.h#L669-L673)? This does not return the full memory footprint of the whole bitmap, but at least the containers.

[2021-04-14 10:20] decster commented on #287
The extra overhead of roaring_bitmap_statistics seems too high, e.g. iterate all elements to get min/max

[2021-04-14 12:36] lemire commented on #287
@decster If you call `roaring_bitmap_shrink_to_fit`and then `roaring_bitmap_portable_size_in_bytes`, you should get a good measure of the size of the data structure.

If this is not what you are looking for, consider producing a pull request.

[2021-04-14 16:13] #113 closed

[2021-04-14 22:14] lemire commented on #287
Note that because the data structure is dynamic and rely on heap allocation, there is no precise definition of memory usage. The heap usage is allocated in terms of virtual memory that gets translated into physical pages being allocated.

How much memory do I use when I do the following...

[code]

The answer, on many systems, is zero. This might very well be a purely virtual allocation (no RAM ge

[2021-04-14 22:17] lemire commented on #206
Yes. We have a bias for performance.

[2021-04-14 22:24] lemire commented on #181
Note that the latest release introduced runtime dispatch which takes away my argument. We can definitively remove ROARING_DISABLE_AVX and ROARING_DISABLE_NATIVE at this time.

[2021-04-14 22:25] lemire commented on #92
This is an old issue and nobody has jumped at the opportunity of providing optimizations for legacy hardware. I am closing this issue.

[2021-04-14 22:25] #92 closed

[2021-04-15 11:14] Ezibenroc opened #288 "Double free when using roaring_bitmap_overwrite"
I tried to upgrade to CRoaring v0.3.0 in pyroaring and stumbled on a segmentation fault when running the tests. I tracked down the error to `roaring_bitmap_overwrite` function.

Here is a minimum example in C, using the amalgamated source (name it `mwe.c`):
[code]
Compile and run with `cc -O3 -std=c11  -o mwe mwe.c && ./mwe`
It prints `free(): double free detected in tcache 2`

Interestingly, the

[2021-04-15 12:26] lemire commented on #288
I'll have a look today. I am not aware of any changes in this function. I will have to investigate.

[2021-04-15 13:34] lemire commented on #288
The issue has been verified. This is weird because I don't remember any change with respect to this code.

[2021-04-15 13:39] Ezibenroc commented on #288
Version v0.2.66 was made one year ago, it seems that some commits have been made on this function since (e.g. 948f8af9).

[2021-04-15 13:51] lemire commented on #288
@Ezibenroc Yes. The bug is painfully obvious.

[2021-04-15 13:51] lemire commented on #288
Patch coming up.

[2021-04-15 13:55] lemire commented on #288
Look at the diff at https://github.com/RoaringBitmap/CRoaring/pull/289

[2021-04-15 14:34] Ezibenroc commented on #288
Ah yes, indeed. I confirm this fixed the test on pyroaring side.

[2021-04-15 14:59] #288 closed

[2021-04-15 15:17] lemire commented on #287
... and even calling `roaring_bitmap_portable_size_in_bytes` or `roaring_bitmap_size_in_bytes` is not going to be constant time. It is cheap, but you do not want to do it constantly.

[2021-04-15 19:59] tower120 commented on #206
Sorry, intialy I thought I'll need that (for custom ECS). But then I switched for archetype-based ECS, and there where no need for bitmaps anymore...

[2021-04-15 20:48] lemire commented on #206
Ok. I will close this issue.

Note that CRoaring is a C library. We provide a thin C++ wrapper that calls the C functions. One can easily design their own C++ classes. People do not need to use our C++ wrapper.

[2021-04-15 20:48] #206 closed

[2021-04-17 03:48] decster commented on #287
Regarding precise memory usage stats, yes it is impractical,  we just want to get the size stats of all the malloced memory, although it's not precise it's good enough.

Another thought, in our use case bitmaps are immutable/copy-on-write, so in theory, all read/iterate methods can operate directly on a binary buffer/string without deserialization.

[2021-04-17 14:22] lemire commented on #287
@decster The functions I suggest will give you a pretty good estimate of the total malloc.

We support that already. Look for 'frozen' in the API. At the current time, this requires a different serialization (to simplify memory accesses under alignment constraints).

I am going to close this. Reopen a new issue if you have remaining concerns.

[2021-04-17 14:22] #287 closed

[2021-05-26 04:57] longqimin opened #291 "Does roaring_iterate()/roaring_iterate64() iterate all values in order or not?"
in Reame, it says:
[code]

Can i expect it iterates in ASC order and just sum the least 10 values like this:
[code]

thanks.

[2021-05-26 14:17] lemire commented on #291
Good question.

Yes iteration is ordered: from the smallest to the largest elements.

[2021-05-26 14:17] #291 closed

[2021-06-07 16:24] Oppen commented on #284
Considering `malloc` can incur in a syscall I think it's not that bad to pay an extra regular function call in comparison, and that would help C users get this finer grained control too.

[2021-06-07 16:25] Oppen commented on #284
Regardless, I'm not sure why a similar build-time solution can't be made in C with macros.

[2021-06-07 16:35] Oppen commented on #186
Would it suffice to add an offset field? That would mean the shift itself is quite fast but would require an extra arithmetic operation for every kind of query. Does it make sense?

[2021-06-07 17:53] Oppen commented on #114
Should we assume we have C11 to implement a C version or require C++ for this?

[2021-06-07 18:48] lemire commented on #114
@Oppen We require C11 in general, so C11 is fair game.

[2021-06-07 19:15] lemire commented on #186
I expect that you probably want to shift the whole bitmap.

In Go and Java, we have add offset functions which are akin to a shift.

https://github.com/RoaringBitmap/RoaringBitmap/blob/master/RoaringBitmap/src/main/java/org/roaringbitmap/RoaringBitmap.java#L193

https://github.com/RoaringBitmap/roaring/blob/4eb34b71d54a94c3c9996f7adaa55f0cc1a083c4/roaring.go#L506

[2021-06-07 19:31] lemire commented on #284
@Oppen There is no disagreement on the usefulness of the functionality. My overriding concerns here are code maintenance and performance. If we can achieve this functionality without performance penalty or without risking code maintenance issue, it is clear net win...

In fact, I'd say that code maintenance is my primary overriding concern. We'd like a clean design that is easy to document, easy t

[2021-06-07 22:02] Oppen opened #298 "Compute cardinality of multiple unions or intersections at a time"
I'm planning on implementing a feature to do this but I'd like early feedback on the design.

The idea is to use a  heap such as in the `roaring_bitmap_or_many_heap` implementation to get pointers to all the containers sorted by key. This way I can compute unions of all containers of a given key in a single bitset container (since the contents will be discarded once I get its cardinality), so the

[2021-06-07 22:50] lemire commented on #298
I guess that you want the cardinality of the union of B1, B2 and B3 together... You could do it without materialization: just iterate through the values in the containers. It is going to be in time loglinear with respect to (card(B1) + card (B2) + card(B3)). But an iterator approach is going to be slow (high constant) so, in practice, materializing intermediate results will be faster. However, you

[2021-06-07 22:53] lemire commented on #298
I can't find an implementation right (in Java or Go).

It is entirely reasonable.

[2021-06-07 23:10] Oppen commented on #298
Indeed, that was my reasoning. I didn't think through the intersection part being tinier. I guess worst case is a set of dense intersections where the resulting bitmap may still be big, but deciding whether that's likely would require domain knowledge I think. In the general case, I guess the lazy intersection should save enough memory without sacrificing performance, right?

[2021-06-07 23:51] lemire commented on #298
I think that the motivation for the fast intersection function should be checked with benchmarks.

[2021-06-08 17:16] Oppen commented on #186
I'm working on this. I think I can have the PR today (I made my "draft" locally, will need to touch here and there when compilation invariably fails and port tests from Go and then add my own, as that's the easiest approach for me).

[2021-06-08 17:18] lemire commented on #186
:-)

[2021-06-08 22:06] #130 closed

[2021-06-11 16:18] Oppen commented on #186
I got distracted with many other ideas. I have code but I'm still fixing bugs (the tests catch them tho! :) ).

[2021-06-11 16:19] Oppen commented on #186
I'll try to have the PR today or during this weekend.

[2021-06-12 20:33] Oppen opened #301 "Fix formatting and add a pipeline that runs the checker"
The title is self-descriptive. Many files fail the `clang-format-check.sh`, discouraging using `clang-format.sh` to keep the newer patches in shape.
Fixing is easy, a single commit per-file for easy revision, and I can do that easily.
The second part is about preventing getting to that state again. The pipeline should run `clang-format-check.sh`. As I'm not admin for the repo, I can only suggest i

[2021-06-13 00:45] Oppen commented on #5
Another idea that may reduce indirection is to optimize short arrays and runs by using the pointer as storage.
Something like this:
[code]
That way things like full ranges won't require any kind of heap memory overhead, whether it be the accounting or the indirection itself. It should be more cache friendly as well.
The downside is the extra step and the danger of forgetting that and derreferencin

[2021-06-13 00:55] Oppen commented on #5
Even better, since this way capacity is never below `2` for runs or `4` for arrays (or `1` and `2` if running in 32-bits platforms) we can start counting from `1`, so one `uint16_t` is enough for capacity and we can use the extra 2 bytes for the tag.

[2021-06-13 03:43] Oppen opened #303 "Use function pointers for runtime dispatching"
Rather than branching each time, consider doing something like this:
[code]
This way after the first call all calls will be direct. It may give a tiny performance gain.

[2021-06-13 04:10] Oppen commented on #5
Full containers could steal a bit from the `typecode` as well, being a different type. That type requires no extra allocation and allows the invariants of the other types to include not being full, thus cardinalities being always under `(1 << 16)` and representable by a `uint16_t`. This would be useful because that way we can have `n_runs` and the cardinality cached, so for any given (repaired, if

[2021-06-13 16:10] Oppen commented on #5
About pointer tagging, we could play with alignment. It'd be less robust about adding new container types, but it's guaranteed the platform won't play us because it's in the meaningful part of the pointer.
The con here is that natural alignment doesn't seem to give us enough free bits (arrays are 16 bits aligned and runs 32 bits aligned, so there's not a lot we can unambiguously mask), and a stron

[2021-06-13 16:34] lemire commented on #5
Many good ideas.
Speaking for myself, the primary concern is less about memory usage and more about indirection.

We have one extra jump per container and it must add up in some cases.

[2021-06-13 17:40] Oppen commented on #5
I know. The short run optimization should reduce jumps tho. The embedding the typecode bit I thought was required to embed the containers in the array, but now that I think of it we're good as long as they're all the same size. They don't even need to have the same layout in principle, but the size needs to be reasonable.

[2021-06-13 19:03] lemire commented on #303
Is it your expectation that the code you are proposing is thread safe?

I think you need atomic pointers.

Otherwise: pull requests are invited.

[2021-06-13 19:19] Oppen commented on #303
Good point. Are indirect calls atomic in general? In ARM? x86?

[2021-06-13 20:07] lemire commented on #303
Even if the underlying hardware does it for free, you will still get flagged by the sanitizers.

The `croaring_avx2()` does rely on atomics for that reason. But it is not nearly as pretty as I would have hoped.

[2021-06-13 20:10] lemire commented on #303
See https://github.com/RoaringBitmap/CRoaring/blob/a5656ae1a0fae327487568a7490689844560fd22/include/roaring/isadetection.h#L170-L198

[2021-06-13 20:11] lemire commented on #303
Note that we don't do runtime dispatching under ARM. With ARM, NEON is usually available by default so you would not need it now. Even so, we may hope that, for that reason, compilers do a good job using NEON via autovectorization if the proper optimization flags are provided under ARM.

We only do runtime dispatching for AVX2 support. It is where the gains are most important since compilers won't

[2021-06-13 20:50] lemire commented on #5
@Oppen There are gains to be had... but I would be shy about introducing new container types while changing the layout of how they are stored. It would be best to isolate these issues.

[2021-06-16 13:33] Oppen commented on #221
What happens if I modify a roaring bitmap that's used as a key for a map? It that UB? Should we document to always make them COW or some kind of read-only flag if that use is expected? Or does it copy the whole thing?

[2021-06-16 13:43] lemire commented on #221
Note that in something like `std::map`, the key is always a constant and consider immutable. Of course, you can implement your how hash table where keys are mutable... but then you should define the logic.

About hashing...

The usual convention goes as follows. You have that if `x` is equal to `y`, meaning that it contains the same values, then they hash to the same hash value. If  `x` differs fr

[2021-06-16 13:51] Oppen commented on #221
My question comes from having aliasing. Let's say we use a `RoaringBitmap` instance (I think that's the name in C++?) as key. Will `RoaringBitmap` be deep-copied? In that case, should we make it COW so we don't have to recreate all the containers in-place?

[2021-06-16 13:57] lemire commented on #221
@Oppen It will definitively be copied if you use values as keys (of course, you can use pointers too... that would be a different story). Whether we have COW or not depends on the user. You can set your bitmaps to have COW or not.

[2021-06-17 12:06] variar opened #304 "Roaring64Map::isFull returns true for empty set when compiled for 32-bit OS"
This sample code demonstrates the problem:
[code]

When compiled in 64-bit mode the output is empty, but in 32-bit mode it prints `Empty roaring is full`.
The problem seems to be in this line:
[code]

On 32-bit systems `size_t ` is like  `uint32_t`. Adding 1 to max `uint32_t` overflows, so that line becomes `0 = 0`.

[2021-06-17 13:25] #304 closed

[2021-06-21 21:13] Oppen commented on #301
Soooo, this actually can be done by me in a PR. I didn't know that.

[2021-06-21 21:28] lemire commented on #301
@Oppen As far as GitHub actions, you can indeed propose something.

It makes little difference whether one is 'admin' or not, actually.

[2021-07-08 19:36] Oppen commented on #5
A dumb enough proposal to handle shared containers in a flatter world: just add an array of pointers to reference counts in the high low container. If the pointer is `NULL` then the container with the same index is necessarily not shared. This saves extra indirection when working with the containers and allows us to skip the check where it is not relevant. Say, we want the cardinality, that's not

[2021-07-08 19:54] lemire commented on #5
@Oppen The current design is optimized so that if you do not use shared containers, then you do not pay for them.

My expectation is that few people use shared containers. They have their uses, but it is kind of specific.

[2021-07-08 19:58] Oppen commented on #5
That's true. There would be a cost in memory you'd be paying whether you use shared containers or not (although you could skip it if the bitmap is not marked COW). We still check for it in many places due to the indirection. At worst, removing those checks makes the code simpler, at best it can remove a lot of branching. The gain I see is that you keep the wins of using a flat structure this way,

[2021-07-14 16:45] lemire opened #307 "Try a branchless approach for the union of two sorted arrays (array containers)"
See blog post [Faster sorted array unions by reducing branches](https://lemire.me/blog/2021/07/14/faster-sorted-array-unions-by-reducing-branches/)

[2021-07-14 16:52] lemire commented on #303
Note that I had a terrible performance bug in my initial implementation.

Fixed by https://github.com/RoaringBitmap/CRoaring/commit/6403d44cbea549b31c16266d57cf9a42aac320b6

I would call `dynamic_croaring_detect_supported_architectures()` on dispatching. We now call `croaring_detect_supported_architectures()`.

The `roaring_detect_supported_architectures()` is much more efficient because it only d

[2021-07-22 16:29] Oppen opened #308 "Implement CNF operations"
[Conjunctive normal form (CNF)](https://en.wikipedia.org/wiki/Conjunctive_normal_form) is a notation to represent some operations frequently used in a few niches. It can be seen as an extension of a feature we already support, which is union and intersection of many bitmaps at a time.

The idea is to come up with an API to pass a list (or, rather, array) of bitmaps for which to perform this effici

[2021-07-22 16:40] Oppen commented on #308
On a related issue: while I care most about the C version here, implementing in `roaring` first as an experiment may be a better idea, since it makes it easier to compare performance between several versions. Specially between only performing multiple unions at a time, having intermediate bitmaps for each clause, and multiple intersections of the results.

It could be an interesting convenience fu

[2021-07-22 18:42] lemire commented on #308
Of some relevance...

- [Compressed bitmap indexes: beyond unions and intersections](https://arxiv.org/abs/1402.4466), Software: Practice and Experience 46 (2), 2016

[2021-08-16 11:03] longqimin opened #316 "incorrect Roaring constructed from a COW-Enabled Roaring"
i tried to build a COW-enabled Roaring, and then construct other Roarings from it. But the new constructed Roaring seems incorrect.

the problem can be repoduced as following:
[code]
and yields the error msg:
[code]

i found the error can be walk around by set COW on r2 (`r2.setCopyOnWrite(true);`).

is this a bug or misuse ？

ps. [dest->codetypes/contianers may mismatch in ra_overwrite()](https:/

[2021-08-16 14:21] lemire commented on #316
At a glance, this seems like a bug. I will investigate.

[2021-08-16 17:08] lemire commented on #316
Fix upcoming.

[2021-08-16 17:18] #316 closed

[2021-08-20 02:34] ELind77 opened #318 "Efficient intersection of one bitmap with many"
Hi all,

I'd like some advice on the most efficient way to query many bitmaps with a single bitmap.  Specifically, I have a query bitmap and a large set of bitmaps (~1 million) and I'd like to know which elements of the large set share at least one member with the query set (doesn't even need to be a full intersection).  If the best way to do this is to just write a loop then that's fine, but I th

[2021-08-20 18:26] lemire commented on #318
We have a function for this purpose:

[code]

It should be very fast.

Now, of course, there are cleverer ways to solve your problem for sure, but in the abstract, it is hard to tell.

I recommend implementing the loop with `roaring_bitmap_intersect` and see how well it does.

Always, always start with benchmarking if efficiency matters.

[2021-09-07 04:32] stdpain opened #319 "Improve the performance of roaring bitmap under sparse cases"
In a sparse roaringbitmap, the size of array_container may often be 1, 2, 3. But we can actually reuse the container pointer (sizeof(void*)) as an array of uint16_t to avoid extra memory allocation.
eg:

[code]

roaring_array_t ra;
// some init code
ra.typecodes[i] = SINGLE_CONTAIN_TYPE + cardinality << 6;
((uint16_t*)ra.containers[i])[1] = value1;
((uint16_t*)ra.containers[i])[2] = value2;
((uint

[2021-09-07 18:48] lemire commented on #319
Yes. But before we add complexity, we would need some motivating benchmarks showing the the extra work is worth it.

[2021-09-08 07:29] stdpain commented on #319
@lemire
Hi ,I tested this optimization briefly in my application and the improvement for deserialization is quite obvious.

This is my test data generator:

[code]

This is the change I made to `CRoaring` (an earlier version):

https://github.com/stdpain/CRoaring/commit/a0f5049478cefe93592975d1c128bc487b3aadc7

[code]

[2021-09-08 11:17] stdpain commented on #112
@lemire
Hi, I noticed that the sizeof array_container_t bitset_container_t run_container_t is not bigger than 16.
Can we consider allocating these objects together instead of using malloc separately?

eg:

[code]

[2021-09-08 14:00] Oppen commented on #112
@stdpain this and other alternatives are discussed in #5
I invite you to write any ideas there :)

[2021-09-08 14:08] Oppen commented on #5
Another option would be to still store pointers to containers but take advantage of the fact their metadata is quite small and just embed both in a single allocation, like this:
[code]

I think the most annoying part here is that then we would need to always check for reallocations at the `roaring_array_t` level. Except for bitset containers, where size is always constant.

[2021-09-08 15:42] stdpain commented on #5
Maybe we don't need to put the typecode in the struct so that the shared_container problem is naturally solved.
typecode test 0x10 is true, we think this container is shared container.

[code]

[2021-09-08 15:54] Oppen commented on #5
That would make all of them have some memory overhead regardless of actually being shared, plus require to also keep using pointers to the structs instead of embedding them, otherwise copying a bitmap with COW wouldn't propagate the new reference count.

[2021-09-08 15:57] lemire commented on #319
Yes. I saw this and it makes sense to me. I'd still want someone to review it independently.

[2021-10-22 13:03] Oppen opened #323 "How do we feel about Coverity Scan?"
Some years ago I played a bit with Coverity Scan for some personal (admittedly toy) projects and it looked like a good way to find hard to spot memory bugs (it catches a few more things IIRC, but those were the ones it shined the brightest).
There's a free service for open source projects that we could take advantage of and in my experience it's far more sophisticated than tools like cppcheck, and

[2021-11-21 21:02] K2 commented on #122
@lemire I've gone through and setup an integration into oss-fuzz, I'll submit the PR to them if you think this is a good testcase.

[code]

Some initial run's gave me some crashes if you want to look;
[code]

We can integrate the test code into our repository as well.

[2021-11-21 21:29] lemire commented on #122
@K2 We definitely want it but before implementing fuzz testing, we’d want to clear the bugs found so we get a clean check at least initially.

Can you give me the reproducible test case matching the error you are reporting. We should start by fixing it.

So if you can just open issues  corresponding to the bugs you have exposed…

[2021-11-21 22:17] K2 opened #324 "roaring_bitmap_portable_deserialize_safe avoids overflows during deserialization but it does not validate the input"
Testcase for attached crash.  Build with ASAN & ASAN CRoaring.

[crash.zip](https://github.com/RoaringBitmap/CRoaring/files/7577250/crash.zip)

[code]

[code]

[2021-11-22 00:27] lemire commented on #324
@K2 Does the data come from a valid bitmap?

The `roaring_bitmap_portable_deserialize_safe` function does not validate the content, it only ensures that there is no buffer overflow while deserializing. If you are pointing at garbage, you will end up with trouble later.

Validating the input is more expensive. We do not currently do this tasks.

I will retitle the issue.

[2021-11-22 00:28] lemire commented on #324
The documentation is as follows:

[code]

It does not validate the input.

[2021-11-22 00:31] K2 commented on #324
What would make a sensible test case if were to enroll into oss-fuz then?

[2021-11-22 00:32] lemire commented on #324
@K2 So the expectation currently is that you are pointing a data you serialized. You certainly can create adversarial content, as your code demonstrate.

To validate, we need to scan the content of the container, and check that they could have been produced from valid roaring bitmaps:

- The array containers should be sorted.
- The run containers should contain sorted runs that correctly span no m

[2021-11-22 00:33] lemire commented on #324
It is not that it is not valid, it is that we do not support this kind of validation currently. (To be clear, we could do it and I plan to leave this issue open.)

The way the Java and Go versions do fuzzing... is... let me offer pointers...

[2021-11-22 00:33] lemire commented on #324
(Your fuzzing is good, let me be clear.)

[2021-11-22 00:40] K2 commented on #324
Then perhaps to minimize the testroaring_bitmap_portable_deserialize_safe for now and update the test case in the future as we add more validation?

[2021-11-22 00:41] lemire commented on #324
At a glance, the Go deserialization fuzzer checks that there is no panic while deserialization...

https://github.com/RoaringBitmap/roaring/blob/d626fcaa277d89a8f843afeb9ec85fd959d8e6dd/serializationfuzz.go

So basically, you throw anything at `roaring_bitmap_portable_deserialize_safe` and it should work (not crash). However, the result might be invalid and useless.

However, the bulk of the fuzze

[2021-11-22 00:42] lemire commented on #324
@richardstartin Did something similar in Java...
https://github.com/RoaringBitmap/RoaringBitmap/pull/395/files

That is, you take a bitset (or another set data structure) and a roaring bitmap, and then you mutate both in a semantically equivalent manner, then you check that the results are semantically equivalent... and so forth.

https://github.com/RoaringBitmap/RoaringBitmap/pull/395/files

[2021-11-22 00:43] lemire commented on #324
Right. So just testing `bitmap_portable_deserialize_safe` with adversarial inputs is excellent.

[2021-11-22 00:43] lemire commented on #324
Consider that we have no fuzzing right now. Whatever you provide is a likely a win.

[2021-11-22 00:45] lemire commented on #324
(It would be nice to have a fully validating deserializer. Arguably, it would be *easier* to build with a good test framework.)

[2021-11-25 06:30] arthurkiller opened #325 "[Q] Question about `extern inline` defined in CRoaring"
We have faced a compile bug about `extern inline` while using `roaring.cpp` generated by `amalgamation.sh`.

we are on `v0.3.4`.

this function is defined in the same source file. We have fixed this by removing this statement.

And, by the way, do we really need `extern inline` together for the function definition?

[2021-11-25 16:55] lemire commented on #325
We do. You can verify that build failures if you remove them.

Suppose that I have some header file `helper.h` where I define some inline function (say 'f'). Then I have `mylib.c` which calls the inline function ('f') and I export some other function (say 'g'). I have some header file `mylib.h` which declares 'g'. If I compile `mylib.c` to `mylib.lib`, and use `mylib.h`in my program, when I call '

[2021-11-25 16:59] lemire commented on #325
Closing since the submitter has provided a fix. We were, indeed, in error.

Most likely this was a *warning*, not a bug.

[2021-11-25 16:59] #325 closed

[2021-11-26 17:23] lemire opened #328 "Optimize ixor"
Interesting optimization...

https://github.com/RoaringBitmap/RoaringBitmap/pull/542/files

by @richardstartin

[2021-11-29 11:48] arthurkiller commented on #325
Hi,  @lemire. Thx for your reply, explanation, and merging.

My question is not just about wether it can pass the compile.

AFAIK, `extern` means you want to export some symbols to the outer scope which `will not` generate the assemble code but an outer callable symbol (call) in the line while compiling. This will generate `call` in the assemble code.
But `inline` means unfolding the function in p

[2021-11-29 14:47] lemire commented on #325
Please refer to the C99 standard: that's not what inline means. Compilers *may* do what you describe, but they are not required to do so. And, indeed, they do not always do it.

It is fairly easy to determine which functions is inlined. If you believe that the presence of the extern qualifiers in the code are harming the performance, please document it. You can run benchmarks or inspect compiler d

[2021-12-14 07:40] MurageKibicho opened #329 "Feature Request: Binomial Coefficient Entropy Coding for Inverted Index Postings"
- Feature Name: Binomial Coefficient Entropy Coding for Inverted Index Postings
- Status: draft
- Start Date: 2021-12-13
- Authors: Murage Kibicho

# Summary
This is a proposal for encoding inverted index integer sequences using a number system based on binomial coefficients.
This number system is chosen because the [minimum number of bits](https://arxiv.org/abs/1908.10598) needed to encode a list

[2021-12-14 15:26] lemire commented on #329
I am familiar with this approach. I have actually implemented something similar in the past.

The challenge is in providing an efficient software implementation.

Binary interpolative coding can be implemented reasonably efficiently. A library like BitMagic has a good implementation.

It is an interesting question to determine whether your proposal can be implemented reasonably quickly.

[2021-12-14 17:05] MurageKibicho commented on #329
Thank you for your response. Honestly, I appreciate your reply. Forgive me for asking but is there an encoding-decoding benchmark. Perhaps a collection of sequences? I was planning on releasing an MVP built with logarithms and I would love to test my implementation on some data. Forgive me for bothering you.

[2021-12-14 18:37] lemire commented on #329
@MurageKibicho  Maybe https://github.com/RoaringBitmap/real-roaring-datasets could help?

[2021-12-14 18:58] MurageKibicho commented on #329
Thank you!

[2021-12-14 23:19] MurageKibicho commented on #329
These are my reasonably fast decoding implementations without any optimizations. These tests were ran in my dorm room on a simple laptop with 8 Gib of ram without a dedicated graphics card.
Note that decoding is converting from a single integer into an inverted index sequence.

# Implementation Details
There are two implementations. Both are based on the lexicographic ordering of integers. The fir

[2021-12-27 01:24] Oppen commented on #318
@ELind77 did @lemire's answer satisfy you? Can we close the issue?

[2021-12-27 01:28] ELind77 commented on #318
Yes. Thank you!

[2021-12-27 02:37] Oppen commented on #186
I resumed work on this. Pretty much rewrote what I had. I still have some failing tests, but will make a draft PR just so I can receive feedback in the meantime.

[2021-12-27 14:57] #318 closed

[2021-12-29 21:51] #328 closed

[2022-01-09 14:10] Oppen opened #335 "Are we still using TravisCI?"
I noticed we have some config files for Travis, but no checks depending on them. Would it be OK to remove them?

[2022-01-09 17:32] lemire commented on #335
Please do.

[2022-01-10 02:31] Oppen opened #336 "Roaring64Map::operator== returns false on equal bitmaps"
Can reproduce with the following code:
[code]

I'll try to push a fix today, I'm only creating the issue to have an actual name for the test I'm adding.

[2022-01-11 16:12] #336 closed

[2022-01-13 20:51] Oppen commented on #335
Forgot to close after cleanup.

[2022-01-13 20:51] #335 closed

[2022-01-14 11:14] QwertyJack opened #339 "Could you add a dist package for release?"
Thanks for you great work!

The source code package is too big (100MB compressed and 300MB decompressed).
It would be nice to deliver a thin package.
Maybe just removing the `benchmark` dir would do the trick?

[2022-01-14 14:25] QwertyJack commented on #339
Sorry my bad. I finally manage to see the Amalgamation section.
Could you back port this cute, amalgamated package to previous release?

[2022-01-17 17:06] K2 commented on #122
I did the PR for oss-fuzz on an initial test case, I do think we should be working on the bugs from these various API as we see from issue #336 and others may be found as we tighten up issues found by OSS-FUZZ also.

[2022-01-17 18:08] dtenny opened #341 "Documentation: roaring_bitmap_to_uint32_array -- output is ordered"
Just following through with an issue for tracking.  I asked in the google group about whether `roaring_bitmap_to_uint32_array` could be relied upon to be ordered, Daniel said yes.  Documentation for the function should be updated.  (It's important because it let's people avoid the need fo sorting the output).

[2022-01-17 18:09] dtenny commented on #341
Similar documentation may be useful for `roaring_bitmap_range_uint32_array`.

[2022-01-17 18:11] dtenny opened #342 "Documentation: return value semantics of roaring_bitmap_overwrite"
1. This would be improved by documenting the return semantics, true if the operation succeeded, false if the overwrite failed due to allocation failures.
2. It would be good to define the semantics w.r.t. the destination bitmap when false is returned. I _think_ that you've coded this so that the bitmap structure is internally consistent, so that it should be usable for future operations (memory pe

[2022-01-17 18:20] dtenny commented on #182
Just to add to this topic.  There are obvious bugs in several routines if allocations fail that should be fixed, where the return values aren't checked and attempts are made to de-reference what would be null pointers.

The list of code in which I observed the problem includes:
- roaring_bitmap_and
- roaring_bitmap_or
- roaring_bitmap_andnot
- roaring_bitmap_xor

I'm not sure how the topic is view

[2022-01-17 18:27] dtenny opened #343 "Foreign function friendly iterator request/note"
I've been working on a set of foreign function APIs for Common Lisp using the CRoaring API.

Just a note that the iterator interface is a bit problematic and would benefit from a couple of additional functions that encapsulate access to the `has_value` and `current_value` members of `roaring_uint32_iterator_t`.

Without a function to access those members, I'm forced to write lisp structures which

[2022-01-17 18:31] dtenny opened #344 "New function proposal: "roaring_move_uint32_iterator_equalorsmaller""
Basically like `roaring_move_uint32_iterator_equalorlarger`, except that its purpose is to move through elements in descending order instead of ascending order.

For use in conjunction with `roaring_init_iterator_last`.

Seem like an oversight that the proposed function is missing. For now my foreign function wrappers call `roaring_init_iterator_last` and then `roaring_previous_uint32_iterator` un

[2022-01-17 19:03] Oppen commented on #182
Yes. The thing is there are also cases where I think a fix would require API breaks or the like. I could make a cleanup PR for that during the week, at least for the cases where it can be done in an obvious way.
Said that, there are platforms (i.e. at the very least Linux) where the default behavior is for no allocation to ever fail (except in the case where you exhaust the address space, which is

[2022-01-17 19:03] Oppen commented on #182
Anyway, since this issue exists, there's obviously some interest in giving roaring bitmaps the correct semantics.

[2022-01-18 03:27] lemire commented on #182
I agree that it is worth pursuing.

[2022-01-18 03:27] lemire commented on #344
@dtenny Would you be willing to produce a pull request ?

[2022-01-18 03:28] lemire commented on #343
@dtenny Would you be willing to produce a pull request ?

[2022-01-18 03:35] lemire commented on #342
Correct.

If false, then the destination should be the empty bitmap. So the content that was there should have been cleared.

Would you propose a pull request ?

[2022-01-18 03:36] lemire commented on #341
@dtenny I did update the doc/comments way back. Could you review the current status (main branch) and possibly close this issue if you are satisfied?

[2022-01-18 04:34] Oppen opened #345 "Should we implement standard `free` semantics for deallocation functions?"
The standard library specifies `free` to act as a `nop` when its argument is a  `NULL` pointer. This gives us programmers a big convenience for error handling and similar situations where we don't need to add so many explicit branches, but rather count on `free` doing the right thing for us. Point being, my proposal is not exactly something new.
Tackling #182 in particular would create (or, rather

[2022-01-18 11:43] dtenny commented on #344
Hi, I know, that'd be the civilized thing to do :-)  I'm pretty focused on the lisp side of things at the moment, so it's unlikely I'll find time to start with C PR's.  I'll let you know if I decide to make a run at it though.  If you're curious what the lisp apis look like you can find it in my `cl-roaring` repo.  Still a WIP though, enough to be useful to lispers wanting to use CRoaring, but not

[2022-01-18 11:50] dtenny commented on #341
Roger that, closing

[2022-01-18 11:50] #341 closed

[2022-01-18 18:39] Oppen opened #346 "Should we standardize the output of our benchmarks?"
I've been toying with the idea of making CRoaring benchmarks print their results in a format compatible with the `benchstat` tool we use in the Go world for comparing different runs. I think it would help us make more informed decisions when optimizing.

Related to this, after we tackle #284 we should be able to use an allocator that keeps track of how many allocations we make and how much memory

[2022-01-18 19:21] lemire commented on #346
Good idea.

[2022-01-18 21:40] K2 commented on #122
@lemire I mentioned you in https://github.com/google/oss-fuzz/pull/7144 for approval to integrate into oss-fuzz with the minimal fuzzer we went over a few weeks ago.

[2022-01-18 22:52] lemire commented on #122
Apologies. I did comment now.

[2022-01-19 01:10] lemire commented on #345
Yes. It is entirely fine to check for null when deallocating. Your rationale is excellent.

[2022-01-19 04:50] lemire commented on #339
@QwertyJack Is there any reason for not using version 0.4?

https://github.com/RoaringBitmap/CRoaring/releases/download/v0.4.0/roaring.zip

[2022-01-19 04:50] lemire commented on #339
I would prefer to avoid pointing you at old releases.

[2022-01-19 15:58] QwertyJack commented on #339
You are right.

Btw, appreciate if packing in `.tar.gz` instead of `.zip`, because `unzip` is not always there as for a common Linux box.

[2022-01-19 16:33] #339 closed

[2022-01-20 03:21] lemire opened #349 "add_offset has memory leaks"
Under linux, with gcc, we detect memory leaks in the tests...

cmake  -DROARING_SANITIZE=ON -DCMAKE_BUILD_TYPE=Debug -B buildsani
cmake --build buildsani
cd buildsani
 ./tests/add_offset

We get a whole lot of memory leaks...

[code]

[2022-01-20 03:22] lemire commented on #349
@Oppen  Can you have a look?

[2022-01-20 16:46] Oppen commented on #349
I may also try to add a pipeline for this, to prevent new oversights.

[2022-01-20 17:35] lemire commented on #349
But we do have these tests in place. I do not understand how this was not picked up at merge time.

[2022-01-20 18:19] Oppen commented on #349
Does it report a pipeline failure if it finds leaks? All of them were passing when I merged.

[2022-01-20 19:17] lemire commented on #349
It does, yes. We have a sanity checker and failure turns it red.

I do not understand what happened.

Anyhow, I am hopeful that you will easily fix it up.

[2022-01-20 19:18] lemire commented on #349
It is probably nothing of consequence.

[2022-01-20 19:42] Oppen commented on #349
Think I found it: https://github.com/RoaringBitmap/CRoaring/blob/master/tests/add_offset.c#L73-L98

I'll confirm at night, but it seems I forgot to free the containers for the lo/hi_only tests.

[2022-01-20 21:04] lemire commented on #349
Yeah. I was expecting something of the sort.

[2022-01-25 14:16] niyue opened #352 "more doc about the frozen format support"
I am currently using croaring 0.3.4, and I saw 0.4.0 was released previously, with the support of `frozen format` added.

I checked [this PR](https://github.com/RoaringBitmap/CRoaring/pull/321) and issue https://github.com/RoaringBitmap/CRoaring/issues/200, but I am not sure when I should use this frozen format. I know this set is now frozen, but is there any other benefit because of this change?

[2022-01-25 14:30] lemire commented on #352
I am not eager to document it publicly more than we already do because it is strictly for expert users. It is also system specific (e.g., usage under Windows will be quite different from the usage under Linux).

It might be, yes, if you are relying on memory mapping.

The expectation here is that you are already familiar with memory-mapped data structures, their benefits and limitations. It has up

[2022-01-25 14:33] lemire commented on #352
If you go down this route, you inherit a lot of responsibilities. The code is not aware that the bitmap is frozen. It is your responsibility to deal with all the consequences.

It is strictly for expert users and generally discouraged.

[2022-01-25 16:38] #349 closed

[2022-01-26 03:14] niyue commented on #352
@lemire thanks so much for the explanation.

Could you please give more details about the impact of frozen roaring bitmap if the program `relying on memory mapping`?

My program does rely on memory mapping, for the part of data about roaring bitmap, it only treats the serialized roaring bitmap as a binary stream and reads it as a whole instead of random accessing part of the memory mapped file. Th

[2022-01-26 03:19] lemire commented on #352
@niyue There is no frozen format in Java. It is just the standard format. And we have a full API dedicated to supporting immutable bitmaps in Java, which we do not have in C. Rather we have a contributed extension.

[2022-01-26 03:25] lemire commented on #352
It is deliberately undocumented and hidden because it is too rough an implementation for me to support it. If you’d like to work on it, making it more robust and better documented, that would be great.

[2022-01-26 03:30] lemire commented on #352
The Java component you refer to is used in production, it has been thoroughly tested and it is documented.

The frozen format in this library is an experimental feature. I am not even sure it is particularly sane. I would not use it in production myself in its current state.

I do not like that it relies on a distinct binary format. And there might be hidden traps.

Our tests are minimal.

[2022-01-26 03:35] niyue commented on #352
@lemire  Got it. Thanks so much for the detailed explanation. I will keep an eye on it and will do some more comparison with Java's implementation to see if I can help on anything. Thanks again.

[2022-01-26 03:35] #352 closed

[2022-01-26 03:47] lemire commented on #352
What I’d like to see is a version of the Java approach.

The « need » for a distinct format in C is somewhat ugly. It is not fundamental in the least.

A better way would be to focus on a specific set of modern compilers and systems.

[2022-01-28 08:51] saik0 opened #353 "shuffle_mask16 is the reverse of uniqshuf"
If you consider each shuffle mask of 16 bytes as one element, then the LUTs are the reverse of one another. Should be able to remove one.

[2022-01-28 13:01] lemire commented on #353
Can you elaborate? Or better yet: propose a pull request?

[2022-01-28 23:03] saik0 commented on #353
If you lay out the tables with 16 wide cols the symmetry becomes apparent.

`LUT1[0..16] == LUT2[LEN-16..LEN]` and so on.

# LUT1
[code]

# LUT2

[code]

[2022-01-29 03:35] lemire commented on #353
It is a neat observation.

Of course, one still needs to find a way to make use of this observation. Flipping the order is not super expensive, but it would double the cost of the shuffle and increase the latency.

Maybe you have a better design than the naive approach I have in mind. If so, would you consider creating a pull request ?

[2022-01-29 06:46] saik0 commented on #353
Mentally cast the byte array to an array of u8x16 shuffle masks.

The table length is now 256.

For any byte sized index i: LUT1[i] == LUT2[255-i]

You can get rid of either table by taking advantage of the fact that they are reversed. Two operators index the table from the head, the other two from the tail.

[2022-01-31 17:48] lemire commented on #353
I'll make a note in the code. If you'd like to contribute code, with benchmarks, please do create a pull request.

Closing.

[2022-01-31 17:48] #353 closed

[2022-02-18 14:04] arthurkiller opened #354 "[Q] How to use `roaring_bitmap_add_many` on an exist bitmap?"
Seems this function will make damage to the existing bitmap.

[2022-02-18 14:11] lemire commented on #354
If you believe that there is an issue, please provide a test function illustrating your concerns. Your question is too open ended. It needs to be made precise.

[2022-02-18 14:11] #354 closed

[2022-03-10 10:30] longqimin opened #355 "any faster way to check if exists difference (andnot) between two bitmaps"
i have a function to check if `a` contains any element which not contained in `b`:

[code]

but it's a waste to calculate the accurate `andnot_cardinality`。 is there a faster way to achieve this?  thanks

[2022-03-10 14:07] lemire commented on #355
We have `roaring_bitmap_contains`. It will return false if one bitmap is not contained in the other.

[2022-03-11 02:11] longqimin commented on #355
i just found this: `bool roaring_bitmap_contains(const roaring_bitmap_t *r, uint32_t val);`, it checks single-value only

[2022-03-11 04:17] lemire commented on #355
I am sorry, you are 100% correct.

[2022-03-11 04:19] lemire commented on #355
We have `roaring_bitmap_intersect`, but we do not have in C a fast function that matches what you desire.

Pull request invited !

[2022-03-11 04:20] lemire commented on #355
It should be relatively easily implemented. It is just like `andnot_cardinality` but it exits as soon as the cardinality is found to be non-zero.

[2022-03-11 15:54] lemire commented on #355
That would be fantastic.

[2022-03-14 04:26] longqimin commented on #355
@lemire https://github.com/RoaringBitmap/CRoaring/pull/356

[2022-03-15 03:40] longqimin commented on #355
resolved. use `roaring_bitmap_is_subset()`, which exported by Roaring as Roaring::is_subset()

[2022-03-15 03:40] #355 closed

[2022-03-22 04:54] Dr-Emann opened #357 "ROARING_VERSION #define is suspect"
The `ROARING_VERSION` `#define` is not a string, and includes a comma at the end. I think it should be a string, and not contain a comma.

[2022-03-22 20:09] lemire commented on #357
That's a valid point.

[2022-03-22 20:10] lemire commented on #357
In future versions, it will be a string. Closing via commit.

[2022-03-22 20:38] Dr-Emann commented on #357
3114e6255255902431c5250f3bb31e4e481a6164 doesn't quite fix it, there's still an errant equals sign: `printf("%s", ROARING_VERSION)` will expand to `printf("%s", = "0.4.0")` which is a syntax error

[2022-03-22 21:55] lemire commented on #357
Point taken

[2022-04-06 03:01] Dr-Emann opened #359 "Small number of non "roaring"-prefixed items exported"
There are a small number of items exposed which do not start with "roaring". I think it would be useful to consider adding/changing a few names of things currently exported to always have everything expected to be exported prefixed with roaring.

The following items are the only items we export from the api headers that don't have the same naming convention as all others, looking at the [official

[2022-04-06 13:52] lemire commented on #359
I am issuing a PR. You have a good point.

The essential goal is to prevent name clashes. After that we get into bike shedding and I reject bike shedding.

[2022-04-06 14:41] Dr-Emann commented on #359
The other reason to keep everything with a common `roaring_*` prefix is to make ffi generation easier. e.g. the croaring-rs rust bindings [currently](https://github.com/saulius/croaring-rs/blob/d5e3e6187ad550bba482aa8e58d518ecffe12547/croaring-sys/build.rs#L21-L24) uses that prefix to only generate bindings for croaring functions/types/constants. It's likely it could get away with `.*roaring.*`, a

[2022-04-06 16:12] #359 closed

[2022-04-08 18:09] #284 closed

[2022-04-15 03:54] Oppen commented on #225
I assigned this to myself and plan to work on it during the following weekends. The plan is more or less as follows:
1. Write benchmarks to assess the current situation with proper reproducible numbers;
2. Write a C version with a basic ART without path compression, gradually;
3. Once I achieve feature parity with the C++ version, convert the latter into a wrapper and compare performance before an

[2022-04-15 15:17] lemire commented on #225
That sounds very good.

[2022-04-26 20:57] #144 closed

[2022-04-26 20:59] Oppen commented on #319
@stdpain would you mind making a PR from your changes? Otherwise, at some unspecified point in the future would you like me to create one (with proper credit)?

[2022-05-01 17:25] stdpain commented on #319
@Oppen OK

[2022-06-21 17:14] GuillaumeHolley opened #365 "#define _GNU_SOURCE is causing some issues with other libraries"
Hi,

I am using CRoaring in one of my projects which also uses some other libraries. Recently, I got a bug report from an x86 Mac user compiling the project with AppleClang. Specifically, one of the libraries contains the following line in one of its header:
[code]
and the compiler was issuing an `error: expected value in expression` error while pointing at `_GNU_SOURCE`. Testing for `! GNU_SOURCE

[2022-06-21 17:18] lemire commented on #365
Sure. Would you create a pull request ?

[2022-06-21 17:19] GuillaumeHolley commented on #365
Yes, I'll get on it.

[2022-06-22 08:53] #365 closed, assigned to nobody

[2022-07-01 10:07] hurricane1026 opened #367 "how to get a roaring object's footprinter?"

[2022-07-01 10:13] hurricane1026 commented on #367
there is no any function for getting memory footprinter in CRoaring.
I found this in C API.
https://github.com/RoaringBitmap/CRoaring/blob/74bac27f0ed412bd4fca4b06d51f7c9e05e563ef/include/roaring/roaring.h#L683
but in implementation, all nbytes is for serialization.
If I want to cache some roaring_bitmap_t in memory, it need the memory footprinter of it.

[2022-07-01 15:31] lemire commented on #367
From our README:

[code]

[2022-07-01 15:31] #367 closed

[2022-07-01 17:16] hurricane1026 commented on #367
hi, @lemire I am afraid of you hadn't understand me,
the roaring_bitmap_portable_size_in_bytes function get the size of the serialize buffer's size, but I want to get the bitmap size in the memory, just like a sizeof operator for roaring_bitmap_t struct.

[2022-07-01 18:09] lemire commented on #367
You may find the following reference useful: [Measuring memory usage: virtual versus real memory](https://lemire.me/blog/2021/07/29/measuring-memory-usage-virtual-versus-real-memory/).

[2022-07-01 18:29] lemire commented on #367
This issue is now closed. We recommend that users who are concerned with precise memory usage measurements track the physical pages assigned to their process by the operating system. Doing so requires OS-specific code.

[2022-07-06 11:53] wangbo opened #368 "[Help wanted]Force convert array to bitset but core happens"
code version is v0.4.0
I want to use bitset to instead of array to speed up bitmap_or operation.
I refactor ```array_array_container_inplace_union```  and the code is as below.
[code]

But it cored here.
[code]

I wonder whether for croaring,  convert array to a bitset is not allowed when array is not full?
I would be very grateful if answered.

[2022-07-06 11:59] wangbo commented on #368
I used croaring in a SQL OLAP engine;
The data flow is as below:
1 Read croaring(array) from storage.
2 Before shuffle
2.1 merge coaring(array union)
2.2 call croaring.runOptimize
3 serialize croaring
4 shuffle
5 deserialize croaring
6 merge croaring
Then core happends.
If I don't call runOptimize before shuffle, then core won't happend, but the query result is incorrect.

[2022-07-06 14:43] lemire commented on #368
That's correct. It is not allowed. Please refer to the format specification...

https://github.com/RoaringBitmap/RoaringFormatSpec

[2022-07-06 14:43] #368 closed

[2022-08-11 06:49] Oppen opened #370 "Use TLS for big temporary structures"
Given that we are already not reentrant (malloc can't be used in signal handlers and we make extensive use of it), nor can I think of reasonable scenarios where we would want that, and that we avoid recursion as much as we can (even if not explicitly a goal, it just happens to be the case), we may avoid many allocations by just using thread local storage globals (or statics if we want cleaner code

[2022-08-11 06:53] Oppen commented on #319
I have a very ugly suggestion but you may be interested in trying it. Since our arrays are always sorted and never* empty we could simply zero-terminate them for the low count case, gaining a few more elements or even eliminating the indirection altogether, not storing the sizes at all. If the first element is zero, then there's a zero, but every other zero signals end of container.

[2022-08-11 08:57] stdpain commented on #319
sounds great.

[2022-08-11 19:56] lemire commented on #370
Can you elaborate? We definitively can use thread local globals, but how do you propose coding this up?

[2022-08-19 10:05] SLieve opened #372 "Roaring64Map::flip excludes all uint32 max values"
`Roaring64Map::flip` calls `Roaring::flip` like this:

[code]

Since `Roaring::flip` operates on a right-open interval, this results in the max value of each 32-bit roaring to be unaffected.

To reproduce:
[code]

It seems like an easy fix: use uint32 max + 1 instead of uint32 max for the upper bound, as `Roaring::flip` accepts 64-bit values just for this purpose.

[2022-08-20 14:27] lemire commented on #372
Would you issue a pull request?

Please add both a test and your fix.

[2022-08-22 12:48] #372 closed

[2022-08-25 10:45] longqimin opened #382 "cpp Roaring compare with frozenView report runtime error: load of misaligned address"
[code]

the error can be reproduced in debug build:
[code]

with the following diff:

[code]

[2022-08-25 18:02] andreigudkov commented on #382
I can have a look at it unless someone already knows how to fix it.

[2022-08-25 20:30] lemire commented on #382
There should be no need to investigate. The bug is somewhat obvious. :-)

[2022-08-25 20:40] lemire commented on #382
@andreigudkov Thanks for the offer. If the bug had not been obvious to me, I would have taken you up on the offer !

[2022-08-25 21:16] #382 closed

[2022-09-21 16:34] Oppen commented on #319
More than a month later, but I put that `*` and never what the clarification was. There's an exception for lazy operations that may leave such a state, but you have to call repair to restore the invariant lest you want undefined behavior.

[2022-09-21 16:52] Oppen commented on #370
I'd need to check the code again to look for places where it would be useful, but I was thinking mostly of lazy operations or those working on multiple bitmaps at a time that may use a container as an accumulator and then convert it to whatever is appropriate depending on its cardinality. The temporary bitmap container could be recycled by sharing a TLS global.
I just thought of asking first rathe

[2022-09-21 16:53] Oppen commented on #370
BTW, sorry for the long delay to answer, I was actually on vacation and wrote the issue just so I wouldn't forget about it.

[2022-09-21 18:04] lemire commented on #370
There is no doubt that we are sometimes limited by memory allocation. I think it is worth pursuing.

[2022-10-13 09:49] CharlesChen888 opened #391 "Use more specific macros and functions to decide whether to use vectorized methods."
I'm using CRoaring in my project and I want to use the vectorized bitwise computing methods for better performance. However, my dev machine (and maybe some of our online servers) does not support AVX2.

I looked into the code and I found that some of those vectorized methods don't need AVX2 instructions. For example, in `intersect_vector16` there are `_mm_lddqu_si128`, `_mm_load_si128`, `_mm_store

[2022-10-13 10:53] CharlesChen888 commented on #391
Alright I've just found that this is actually an old issue #92

[2022-10-13 21:04] lemire commented on #391
A pull request is invited.

Note that AVX2 is effectively ubiquitous on x64 hardware at this time. I don't think Intel and AMD sell commodity processors at this point in time without AVX2.

It would be more interesting to me to include support for AVX-512, now that icelake servers are everywhere (AWS, and so forth) and with Zen 4 providing great AVX-512 support.

[2022-10-13 21:04] #391 closed

[2022-10-14 00:31] CharlesChen888 commented on #391
Yes, AVX512 should be included, both old and new machine support can be done together.

[2022-10-14 00:37] lemire commented on #391
I agree.

[2022-10-26 00:12] rodgarrison opened #393 "Possible performance problem in roaring::Roaring64Map"
My [fork](https://github.com/rodgarrison/CRoaring) is identical to the official repository as of 25-Oct-2022 except for the addition of two examples. Focus on the [associative map example](https://github.com/rodgarrison/CRoaring/blob/master/examples/assoc_example.cpp). This example exercises the roaring::Roaring64Map API two ways:

* processes about 1,000,000 u_int64_t values with **some duplicate

[2022-10-26 15:25] lemire commented on #393
Pull request invited.

[2022-10-26 16:10] rodgarrison commented on #393
Before I dig into this --- aside from removing the dup red-herring possibility which I will do EOD --- what's the expected time complexity of the rank algo? If I give Roaring64Map N distinct integers then run rank(n \in N) ... what's the intent more or less? linear? n log n ... n^2

Please note that at least for my purposes, the construction time of the Roaring64Map is super good. Further, the fac

[2022-10-26 20:49] lemire commented on #393
The expectation is that if you believe that there is a performance bug in the code, then you would investigate it and provide a bug fix as a pull request. Or at least, clearly identify the bug.

The source code of the rank function is as follows: (the 64-bit wrapper you are using is just a thin layer on top of our 32-bit data structure)

https://github.com/RoaringBitmap/CRoaring/blob/b9e137425be17

[2022-10-26 20:52] lemire commented on #393
If you need more precise references on the format, we have a number of research papers as references:

- Daniel Lemire, Owen Kaser, Nathan Kurz, Luca Deri, Chris O'Hara, François Saint-Jacques, Gregory Ssi-Yan-Kai, Roaring Bitmaps: Implementation of an Optimized Software Library, Software: Practice and Experience Volume 48, Issue 4 April 2018 Pages 867-895
 [arXiv:1709.07821](https://arxiv.org/abs

[2022-11-04 02:34] SamHames opened #394 "Trouble building 0.7.1 amalgamation on Windows"
Hi there, I'm doing a [bit of maintenance work](https://github.com/Ezibenroc/PyRoaringBitMap/issues/78) on the Python package for pyroaring and have run into an issue with building the 0.7.1 release amalgamation on Windows. I originally ran into this [on a CI build on windows](https://github.com/SamHames/PyRoaringBitMap/actions/runs/3343247445/jobs/5536267822), but can reproduce the same error wit

[2022-11-04 13:24] lemire commented on #394
I will examine the issue right away.

[2022-11-04 15:00] #394 closed

[2022-11-13 01:20] madscientist opened #406 "Any interest in a function return number of bytes of memory used by a bitmap?"
I had a need to calculate the number of bytes of memory used for a given bitmap, so I created a set of functions that will do this, and plumbed them through both the C and C++ interfaces.

Is there any interest in having something like this in the codebase?

[code]

[2022-11-15 21:49] kosak opened #410 "Constant-time cardinality?"
Is there any appetite for being able to provide cardinality in constant time, on both the 32-bit and 64-bit sides? As a customer of the library I feel like I've wanted this.

Right now it's calculated on demand. In `Roaring64Map`, the method `cardinality()` does a full scan of the map every time, and even `isFull()` will do a lot of work if applied to a map with a large dense prefix of full 32-bit

[2022-11-18 21:21] madscientist commented on #410
I would find this useful.  I'm not sure how tricky it would be for all operators.  Possibly it would be useful to consider a lazy-evaluation type of thing where when we modify the bitmap in a way which is not simple to compute (ORing two bitmaps for example) we set the cardinality to an invalid value, then when someone invokes cardinality() and the value is invalid we'd compute it then.

Of course

[2022-11-20 15:02] madscientist commented on #319
I would love the "small bitmap optimization" described in https://github.com/RoaringBitmap/CRoaring/issues/319#issuecomment-949602215  We do something like this but with a wrapper around the type which is annoying since we have to translate all the calls.  The wrapper has a union of a roaring::Roaring (this is C++) and an array of 32bit ints plus a "small count" which we overlay on the empty paddi

[2022-11-24 02:27] CharlesChen888 commented on #410
Is there a fast method to approximatly estimate the cardinality? We can use an estimated value when computing, and mark the cardinality as "not precise".